SECRET_KEY="thisisasupersecretkey"
DEBUG=True
ALLOWED_HOSTS=*
DJANGO_LOG_LEVEL=ERROR
DB_HOST=db
#DB_HOST=127.0.0.1
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecretdbpassword
POSTGRES_DB=stockcounter_db
CORS_ALLOWED_ORIGINS=http://127.0.0.1:9000
# CORS_ALLOWED_ORIGINS=http://yourfrontenddomain.com
REDIS_PASSWORD=supersecretredispassword
REDIS_HOST=redis
#REDIS_HOST=127.0.0.1
